.vs/*
application/app/.bak/
application/app/public/css/dvc.min.css
application/app/public/css/dvc-4.min.css
application/app/public/js/brayworthlib.js
application/app/public/js/brayworthlib4.js
application/controller/.bak/
application/data/
vendor/
*.lock
