.text-center { text-align: center; }
.text-right { text-align: right; }
.small { font-size: .8em; }
.m-0 { margin: 0; }

.table {
  width: 100%;
  max-width: 100%;
}
.table-invoice { width: 750px; }

.table thead > tr > th,
.table thead > tr > td,
.table tbody > tr > th,
.table tbody > tr > td {
  padding: 8px;
  vertical-align: top;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid silver;
}

.table-invoice thead > tr > th,
.table-invoice thead > tr > td,
.table-invoice tbody > tr > th,
.table-invoice tbody > tr > td,
.table-sm thead > tr > th,
.table-sm thead > tr > td,
.table-sm tbody > tr > th,
.table-sm tbody > tr > td {
  padding: 4px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

.borderless > thead > tr > th,
.borderless > thead > tr > td,
.borderless > tbody > tr > th,
.borderless > tbody > tr > td {
  border: none;
}

.bx-1 { border-top: 1px solid #dee2e6; border-bottom: 1px solid #dee2e6; }
